html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body__cantor {
    background-image: url("../images/CosmicBackgroundf.jpeg");
    background-size: auto 1000px;
    background-attachment: local;
}